div.menu-bar{
  height: 70px;
}

.menu-item:first-child{
  justify-content: left;
  padding-left: 0px;
}
.menu-item:first-child > .mbtn > h3{
  margin-left: 5px;
  margin-right: 15px;
}
#profile{
  margin-left: 15px;
  height: 25px;
  width: 25px;
}
.menu-item:last-child{
  justify-content: right;
  padding-left: 0px;
}
.menu-item:last-child > .mbtn > h3{
  margin-left: 15px;
  margin-right: 5px;
}
#cart{
  margin-right: 15px;
  height: 25px;
  width: 25px;
}

div.mbtn{
  display: flex;
  align-items: center;
  height: 100%;
  border-radius: 3px;
}

.mbtn:hover{
  background-color: rgb(46, 62, 118);
  cursor: pointer;
}

h2{
  font-family: 'Title';
  font-size: 30px;
  margin:auto;
}

div.central{
  position: absolute;
  width: 100%;
}

#menu2{
  display: flex;
  align-items: center;
  background-color: rgba(1, 57, 135, 0.25);
  opacity: 100%;
}

form.check{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
}

#labelcheckbox{
  flex-shrink: 1;
  text-align: center;
}

#checco{
  flex-shrink: 0;
}

#zonaCarte{
  padding-top: 20px;
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
  margin: top 200px;
  display: flex;
  justify-content: center;
}

#zonaDisplay{
  font-size: 20px;
  color: rgb(208, 220, 231);
}

.overlay{
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 98;
  pointer-events: all;
  background-color: rgb(0, 0, 0, 0.95);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.card-container{
  z-index: 99;
}

.hidden{
  z-index: 2;
  pointer-events: none;
  opacity: 0%;
}

#esc{
  position: fixed;
  right: 5%;
  top: 5%;
  z-index: 99;
}

#esc:hover{
  cursor: pointer;
}

.noScroll{
  overflow: hidden;
}

#orderLabel{
  display: none;
}

.dropdown{
  min-width:10em;
  position:relative;
}
#dd1{
  left:20px;
}
#dd2{
  right:20px;
}
.dropdown * {
  box-sizing: border-box;
}
.dropbtn{
  background-color:  rgba(4, 20, 112, 0.9);
  display:flex;
  justify-content: space-between;
  align-items: center;
  border: 2px #2a2f3b solid;
  border-radius: 0.5rem;
  padding:0.6rem;
  cursor:pointer;
  transition: background 0.3s;
}
.triangolino{
  width:0;
  height:0;
  border-left:5px solid transparent;
  border-right:5px solid transparent;
  border-top:6px solid #fff;
  transition:0.3s
}
.triangolino-rotate{
  transform:rotate(180deg);
}
.selected{
  color:#ddd;
}

.dropdown-content {
  display:none;
  list-style:none;
  margin: 0px;
  margin-left: 0.5rem;
  padding:0em 0em;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 9rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  overflow: hidden;
  z-index: 1;
  transition:3s;
  max-height: 0rem;
  transition: max-height 0.15s ease-out;
}

.dropdown-content li{
  color: black;
  padding: 0.7em 0.5em;
  cursor:pointer;
  text-decoration: none;
  display: block;
}
.dropdown-content li:hover{
  background-color: #ddd;
}

.active{
  background-color: #4f94ee;
}

.menu-open{
  display:flex;
  flex-direction: column;
  justify-content: start;
  opacity:1;
  max-height: 100rem;
  transition: max-height 0.15s ease-out;
}

button.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
}

div.grid-cont{
  margin-left: auto;
  margin-right: auto;
  width: auto;
  display: grid;
  grid-template-columns: repeat(2,170px);
  grid-auto-rows: 210px;
  margin-block: 20px;
}

#nextL{
  height: 2rem;
  width: 2rem;
  position: fixed;
  top: 48%;
  left: 15%;
  z-index: 99;
  cursor: pointer;
}

#nextR{
  position: fixed;
  height: 2rem;
  width: 2rem;
  top: 48%;
  right: 15%;
  z-index: 99;
  cursor: pointer;
}

img.sortIcon{
  height: 0.9em;
  width: 0.9em;
}


div.card-container-prev.initialpos{
  height: 90px;
  width: 90px;
}

/* riduzione a icona bottoni del menu */
@media screen and (max-width: 599px){
  .mbtn > h3{
      display: none;
  }
  #profile{
      margin-right: 15px;
  }
  #cart{
      margin-inline: 15px;
  }
}

@media (min-width: 560px){
  div.grid-cont{
      grid-template-columns: repeat(3,180px);
      grid-auto-rows: 230px;
  }
}
@media (min-width: 630px){
  div.grid-cont{
      grid-template-columns: repeat(3,200px);
  }
}
@media (min-width: 850px){
  div.grid-cont{
      grid-template-columns: repeat(4,200px);
      grid-auto-rows: 240px;
  }
  #orderLabel{
    display: block;
    margin-left:1.2rem
  }
}
@media (min-width: 1050px){
  div.grid-cont{
      grid-template-columns: repeat(5,200px);
      grid-auto-rows: 240px;
  }
}

/*
@media (min-width:400px)and (max-width:540px){
  #checco{
    left:70px;
  }
  #labelcheckbox{
    position:relative;
    left:35px;
  }
  #dd1{
    left:10px;
  }
  #dd2{
    right:10px;
  }
}
@media (max-width:450px){
  #checco{
    left:54px;
  }
  #labelcheckbox{
    position:relative;
    left:20px;
  }
  #dd1{
    left:10px;
  }
  #dd2{
    right:10px;
  }
}
*/