div.menu-bar{
  height: 70px;
}

.menu-item:first-child{
  justify-content: left;
  padding-left: 0px;
}
.menu-item:first-child > .mbtn > h3{
  margin-left: 5px;
  margin-right: 15px;
}
#profile{
  margin-left: 15px;
  height: 25px;
  width: 25px;
}
.menu-item:last-child{
  justify-content: right;
  padding-left: 0px;
}
.menu-item:last-child > .mbtn > h3{
  margin-left: 15px;
  margin-right: 5px;
}
#cart{
  margin-right: 15px;
  height: 25px;
  width: 25px;
}

div.mbtn{
  display: flex;
  align-items: center;
  height: 100%;
  border-radius: 3px;
}

.mbtn:hover{
  background-color: rgb(46, 62, 118);
  cursor: pointer;
}

h2{
  font-family: 'Title';
  font-size: 30px;
  margin:auto;
}

div.central{
  position: absolute;
  width: 100%;
}

#menu2{
  display: flex;
  align-items: center;
  background-color: rgba(1, 57, 135, 0.25);
  opacity: 100%;
  height: 4rem;
}

#menu2 .menu-item{
  height: 100%;
}

form.check{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
}

#labelcheckbox{
  text-align: center;
  white-space: nowrap;
}

#zonaCarte{
  margin-top: 1.2rem;
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
  margin: top 200px;
  display: flex;
  justify-content: center;
}

#zonaDisplay{
  font-size: 20px;
  color: rgb(208, 220, 231);
}

.overlay{
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 98;
  pointer-events: all;
  background-color: rgb(0, 0, 0, 0.95);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.card-container{
  z-index: 99;
}

.hidden{
  z-index: 2;
  pointer-events: none;
  opacity: 0%;
}

#esc{
  position: fixed;
  right: 5%;
  top: 5%;
  z-index: 99;
}

#esc:hover{
  cursor: pointer;
}

.noScroll{
  overflow: hidden;
}

#orderLabel{
  display: none;
}

.dropdown{
  max-height: 42px;
}

#dd1{
  margin-left:20px;
  min-width: 9em;
}

#dd1 .dropdown-content{
  min-width: 8em;
}

#dd2{
  margin-right:20px;
  min-width: 6em;
}

#dd2 .dropdown-content{
  min-width: 5em;
  margin-left: 0.5rem;
}


.dropbtn{
  background-color:  rgba(4, 20, 112, 0.9);
  display:flex;
  justify-content: space-between;
  align-items: center;
  border: 2px #2a2f3b solid;
  border-radius: 0.5rem;
  padding:0.6rem;
  cursor:pointer;
  transition: background 0.3s;
}
.triangolino{
  width:0;
  height:0;
  border-left:5px solid transparent;
  border-right:5px solid transparent;
  border-top:6px solid #fff;
  transition:0.3s
}
.triangolino-rotate{
  transform:rotate(180deg);
}
.selected{
  color:#ddd;
}

.dropdown-content {
  display:block;
  list-style:none;
  margin: 0px;
  margin-left: 0.5rem;
  padding:0em 0em;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  overflow: hidden;
  z-index: 1;
  transition:3s;
  max-height: 0rem;
  transition: max-height 0.3s cubic-bezier(0, 1, 0, 1);
}

.dropdown-content li{
  color: black;
  padding: 0.7em 0.5em;
  cursor:pointer;
  text-decoration: none;
}
.dropdown-content li:hover{
  background-color: #ddd;
}

.active{
  background-color: #4f94ee;
}

.menu-open{
  display:flex;
  flex-direction: column;
  justify-content: start;
  opacity:1;
  max-height: 10rem;
  transition: max-height 0.3s ease-in-out;
}

button.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
}

div.grid-cont{
  margin-left: auto;
  margin-right: auto;
  width: auto;
  display: grid;
  grid-template-columns: repeat(2,11.3rem);
  grid-auto-rows: 210px;
  margin-block: 20px;
}

#nextL{
  height: 2rem;
  width: 2rem;
  position: fixed;
  top: 48%;
  left: 15%;
  z-index: 99;
  cursor: pointer;
}

#nextR{
  position: fixed;
  height: 2rem;
  width: 2rem;
  top: 48%;
  right: 15%;
  z-index: 99;
  cursor: pointer;
}

img.sortIcon{
  height: 0.9em;
  width: 0.9em;
}

div.card-container-prev.initialpos{
  height: 90px;
  width: 90px;
}

/* riduzione a icona bottoni del menu e riarrangiamento menu2*/
@media screen and (max-width: 599px){
  .mbtn > h3{
      display: none;
  }
  #profile{
      margin-right: 15px;
  }
  #cart{
      margin-inline: 15px;
  }
  #dd1{
    margin-left: 1rem;
    margin-right: 1rem;
  }
  #dd2{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
  #menu2{
    flex-wrap: wrap;
  }
  #first{
    flex-grow: 2;
    min-width: 160px;
  }
  #last{
    flex-grow: 1;
    order: 0;
    justify-content: center;
  }
  #mid{
    flex-grow: 3;
    order: 1;
    flex-direction: row-reverse;
    justify-content: center;
    min-width: 220px;
  }
}

/* flex wrapping */
@media screen and (max-width: 491px){
  #dd1{
    margin-left: 1rem;
  }
  #dd2{
    min-width: 9rem;
  }

  #dd2 .dropdown-content{
    min-width: 8rem;
  }
  
  #first{
    flex-grow: 1;
    justify-content: right;
    margin: 0px;
  }
  #last{
    flex-grow: 1;
    order: 0;
    justify-content: left;
    margin: 0px;
  }
  #mid{
    flex-grow: 1;
    order: 1;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    background-color: rgba(1, 57, 135, 0.25);
    height: auto !important;
  }
  #labelcheckbox{
    margin: 0.7rem 0.3rem 1rem 0rem;

  }
  #checco{
    margin-top: 0.7rem;
    margin-bottom: 1rem;
  }
  .central{
    margin-top: 1.5rem;
  }
  #nextR{
    right: 5%;
  }
  #nextL{
    left: 5%;
  }
}

/*griglia*/
@media (min-width: 560px){
  div.grid-cont{
      grid-template-columns: repeat(3,180px);
      grid-auto-rows: 230px;
  }
  .card-container-prev:hover{
    cursor: pointer;
    transition: transform 0.8s;
    transform: scale(1.2);
  }
}
@media (min-width: 630px){
  div.grid-cont{
      grid-template-columns: repeat(3,200px);
  }
}
@media (min-width: 850px){
  div.grid-cont{
      grid-template-columns: repeat(4,200px);
      grid-auto-rows: 240px;
  }
  #orderLabel{
    display: block;
    margin-left:1.2rem
  }
}
@media (min-width: 1050px){
  div.grid-cont{
      grid-template-columns: repeat(5,200px);
      grid-auto-rows: 240px;
  }
}
