:root{
    --sapienza: #822434;
    --epic: rgb(255, 187, 0);
    --rare: rgb(24, 49, 107);
    --common: rgb(18, 142, 31);
}

@font-face {
    font-family: 'Title';
    src: url('/Assets/DragonHunter.eot') format('embedded-opentype'),
        url('/Assets/DragonHunter.otf') format("opentype"),
        url('/Assets/DragonHunter.woff2') format('woff2'),
        url('/Assets/DragonHunter.woff') format('woff'),
        url('/Assets/DragonHunter.ttf') format('truetype');
}

body{
    margin: 0px;
    background-image: url("/Assets/star_Bg.png");
}

div.central{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.celem{
    margin: 15px;
    text-align: center;
}

/* MENU */
div.menu-bar{
    position: relative;
    display: flex;
    width: 100%;
    background-color: rgb(23, 23, 81);
    color: antiquewhite;
}

div.menu-item {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* FULL SIZE CARD */
div.card-container{
    position: relative;
    width: 250px;
    height: 320px;
    border-radius: 10px;
    overflow:hidden ;
}

div.card{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.flipped{
    transform: rotateY(-180deg);
}

div.card-front{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    backface-visibility: hidden;
    background-color: var(--sapienza);
    color: #000000;
}

div.card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: var(--sapienza);
    transform: rotateY(180deg);
}

img.back-image{
    position: absolute;
    width: 100%;
    height: 80%;
}

div.card-fill{
    flex-grow: 1;
    background-color: var(--sapienza);
    display: flex;
    border-radius: 10px;
    padding: 0px;
}

/* CARD CONTENT */
.card-fill .previmg{
    height: 50%;
    flex-shrink: 0;
}

.card-fill h4{
    width: 100%;
    font-size: 19px;
    margin-top: 10px;
    margin-bottom: 0px;
    flex-shrink: 1;
    /*font-family: 'Title';*/
}

.card-fill hr{
    width:75%;
    margin-block:7px;
    border: 1px solid rgb(80, 60, 60);
    opacity: 80%;
}

.card-fill p{
    font-size: 15px;
    margin: 10px;
    margin-top: 0px;
}

.card-fill a{
    font-size: 15px;
    margin: 10px
}

div.card-content-big{
    flex-grow: 1;
    border-radius: 10px;
    background-color: #a98a8f;
    overflow: scroll;
    margin: 7px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow:
    -3px 0#561722,
    0 3px #561722,
    3px 0 #561722,
    0 -3px#561722;
}

/* PREVIEW SIZE CARD */
div.card-container-prev{
    display:flex;
    width: 150px;
    height: 192px;
    background-color: #822434;
    border-radius: 10px;
    transition: 0.8s;
}

.card-container-prev:hover{
    cursor: pointer;
    width: 180px;
    height: 230px;
}

div.preview{
    position: relative;
    padding: 2px;
    display: flex;
    justify-content: center;
}

div.not-owned{
    position: relative;
    padding: 2px;
    display: flex;
    justify-content: center;
    pointer-events: none;
}

div.shadow{
    position: absolute;
    width: 150px;
    height: 192px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0, 0.8);
}


img.previmg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div.card-content{
    flex-grow: 1;
    border-radius: 10px;
    background-color: #a98a8f;
    overflow: hidden;
    margin: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* PROVE */
div.prova{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin-block: 20px;
}

div.card-container2{
    position: absolute;
    width: 125px;
    height: 160px;
}

/* stile carte a schermo ridotto ovunque*/
@media screen and (max-width: 329px), screen and (max-height: 549px){

    .card-fill .previmg{
        height: 50%;
        flex-shrink: 1;
        min-height: 40%;
    }

    div.card-container{
        width: 188px;
        height: 240px;
    }
  
    .card-fill h4{
      font-size: 15px;
      margin-top: 7px;
      flex-shrink: 1;
      padding: 0px;
    }
    
    .card-fill p{
      font-size: 13px;
      margin: 10px;
      margin-top: 0px;
      margin-bottom: 3px;
    }
  
    .card-fill a{
      font-size: 13px;
      margin: 0px;
      margin-block: 0px;
    }
  }






