div.lock{
    position: fixed;
    height: 100%;
    width: 100%;
    padding: 1px;
    background-color: #272727fe;
    opacity: 0%;
    z-index: 1;
    pointer-events: none;
}

.lock.enabled{
    opacity: 65%;
    pointer-events: all;
    transition: 0.12s;
}

div.banner{
    position: fixed;
    height: 100%;
    padding: 1px;
    background: #fffffffe;
    z-index: 2;
    transition: 0.50s ease-out;
    margin: 0px;
    padding: 0px;
}

.banner.banner1{
    bottom: 0%;
    width: 33%;
}

.banner.banner2{
    bottom: 0%;
    width: 34%;
    padding-right: 1px;
    left: 33%;
}

.banner.banner3{
    bottom: 0%;
    left: 67%;
    width: 33%;
}

.banner.hidden{
    bottom: 100%;
}

div.horizontal-banner{
    position: fixed;
    top: 40%;
    left: -102%;
    height: 8%;
    width: 100%;
    padding: 1px;
    background: #7f077bfe;
    z-index: 3;
    pointer-events: none;
    transition: 0.40s ease-out;
}

.horizontal-banner.p1{
    left: 0%;
}

.horizontal-banner.p2{
    top: 36%;
    height: 17%;
    transition: 0.50s ease-in;
}

div.anim{
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    pointer-events: none;
    z-index: 4;
}

@media screen and (max-width: 329px), screen and (max-height: 474px){
    div.horizontal-banner{
        top: 35%;
    }
    div.horizontal-banner.p2{
        top: 30%;
    }
}

div.anibox{
    position: absolute;
    top: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    transition: 1s;
    pointer-events: all;
}

div.anihidden{
    top: -150%;
}