@media screen and (max-width: 369px) {
    div.menu-bar{
        flex-direction: column !important;
        
    }
    div.menu-item{
        margin-left: auto !important;
        margin-right: auto !important;
        padding: 0% !important;
    }
    div.top-item{
        order: -1;
    }
    h2{
        height: 10px;
    }
    h3{
        height: 10px;
    }
}

/*
.menu-item:first-child{background-color: rgb(30, 210, 156);}
menu-item:last-child{background-color: chocolate;}
*/

.menu-item:first-child > #arrowBack{margin-left: 15px;}
.menu-item:first-child > span{margin-right: auto; margin-left: 5px;}
.menu-item:last-child{justify-content: right;}
.menu-item:last-child > span{margin-right: 25px; margin-left: 0px;}
.menu-item:last-child > #giftIcon{margin-right: 7px;}


.invisible{
    opacity: 0%;
    pointer-events: none;
}

img.crystal{
    position: absolute;
    top: 32%;
    width: 125px;
    height: 160px;
    opacity: 95%;
}

div.amountContainer{
    position: absolute;
    top: 53%;
    display: flex;
    align-items: center;
    text-align: center;
}

p.amount{
    font-size: 25px;
    color: rgb(121, 49, 49);
    color: brown;
    
}

button.button{
    position: absolute;
    top: 65%;
    padding: 7px 12px;
    border-radius: 15px;
    border-style: none;
    color: rgb(255, 255, 255);
    background-color: hwb(191 21% 47%);
}

.button:hover{
    cursor: pointer;
    background-color: rgb(46, 62, 118);
}

p.desc{
    position: absolute;
    top: 70%;
    text-align: center;
    font-size: 15px;
    color: brown;
}

div.card{
    position: absolute;
    top: 45%;
    z-index: 101;
    transition: 1s;
}

.card.hidden{
    top: -100%;
}

.btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.btn:hover{
    background-color: rgb(46, 62, 118);
}