/*Bottone Ok definito in store.html*/

body{
    margin: 0px;
    background-image: url("Assets/star_Bg.png");
}

.invisible{
    opacity: 0%;
    pointer-events: none;
}

ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

li{
    display: inline-block;
    padding-left: 15px;
}

div.central{
    display: flex;
    justify-content: center;
    align-content:central;
    
}

div.menu-bar{
    position: absolute;
    width: 100%;
    padding: 0px;
    text-align: center;
    background-color: rgb(23, 23, 81);
    color: antiquewhite;
    z-index: 99;
}

img.crystal{
    position: absolute;
    top: 32%;
    width: 125px;
    height: 160px;
    opacity: 95%;
}

p.amount{
    position: absolute;
    top: 53%;
    font-size: 25px;
    color: brown;
}

button.button{
    position: absolute;
    top: 65%;
    padding: 7px 12px;
    border-radius: 15px;
    border-style: none;
    color: rgb(255, 255, 255);
    background-color: hwb(191 21% 47%);
}

.button:hover{
    cursor: pointer;
    background-color: rgb(46, 62, 118);
}

p.desc{
    position: absolute;
    top: 70%;
    font-size: 15px;
    color: brown;
}

div.card-new{
    position: absolute;
    top: 35%;
    z-index: 101;
    transition: 1s;
}

.card-new.hidden{
    top: -100%;
}

/*stile carta invertito per il negozio*/
div.card-rev-front{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: var(--sapienza);
    color: #000000;
}

div.card-rev-back{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    backface-visibility: hidden;
    background-color:darkgrey ;
    transform: rotateY(180deg);
}